/* ListaProdutos.css */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the container takes at least the full height of the viewport */
}

.produto-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.produto-card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    flex: 1 1 calc(33.333% - 20px); /* Ajusta o tamanho do card para 3 por linha */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.add-produto-form {
    margin-top: 20px;
}

.add-produto-form input {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
}

.add-produto-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

